[bot]
ssl-certificate          =
ssl-key                  =
openweathermap-api-key   =
wolframalpha-api-key     =
google-api-key           =
google-search-id         =
bighugethesaurus-api-key =
wordnik-api-key          =
lastfm-api-key           =
twitter-api-key          =
twitter-api-secret       =
twitter-access-token     =
twitter-access-secret    =
trakt-api-key            =
soundcloud-api-key       =
tfl-api-id               =
tfl-api-key              =
nre-api-key              =
eagle-api-key            =
eagle-api-url            =
pushbullet-api-key       =
pushbullet-channel-tag   =
omdbapi-api-key          =
virustotal-api-key       =
