# This systemd script was made to be used in Ubuntu 18.04 LTS
# Check your distro and make the appropriate changes if needed

[Unit]
Description=BitBot Service
Wants=network-online.target
After=network-online.target

[Service]
# change any of the 3 following lines as applicable
User=bitbot
Group=bitbot
WorkingDirectory=/opt/bitbot/

ExecStart=/usr/bin/env python3 bitbotd
ExecStop=/usr/bin/env python3 bitbotctl stop
ExecReload=/usr/bin/env python3 bitbotctl reload
Restart=always

[Install]
WantedBy=multi-user.target
